# Data Collection & Networking
arxiv
httpx
dvc[s3]

# Data Processing & Parsing
pandas
numpy
beautifulsoup4
markdownify
lxml

# NLP & RAG Pipeline
torch
transformers
sentence-transformers
langchain-text-splitters
faiss-cpu

# Model Deployment & Optimization
accelerate

# Utilities
tqdm